.container  * {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.container  p {
  line-height:24px;
}

*:focus {
  outline-color: #24b3b3;
}

a,
a:hover {
  color: #FF6600;
}

a:hover {
  text-decoration: underline;
}

.search {
  background: url("../images/splash.png");
  line-height: normal;
  font-size: 1em;
}

.downloads {
  background: url("../images/stingray-splash.jpg");
}

.search-form {
  max-width: 500px;
  margin: auto;
}

h1.heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size:44px;
  margin-bottom:10px;
}

.front-section {
  color: #fff;
  vertical-align: text-bottom;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 52px;
}

.front-section p {
  padding: 16px 8px;
  font-size: 27px;
}

.front-section a p {
  color: #fff;
}

.front-section a {
  background-color: #28D4D4;
  display: block;
}

.front-section a:hover {
  background-color: #FF6600;
  text-decoration: none;
}


/*** Example Downloads Page ***/

.example {
  border-bottom: 1px solid #E6E6E6;
  padding: 16px 0;
}

.last-example {
  border: 0;
}

a.example {
  display: block;
  background-color: #28D4D4;
  color: #fff;
  border-radius: 4px;
  width: 256px;
  padding-left: 16px;
  font-weight: bold;
  line-height: normal;
}

a:hover.example {
  background-color: #FF6600;
  text-decoration: none;
}


/*** Side Content ***/

.search-results .block,
.side-content .block {
  font-size: 14px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding: 8px 18px;
  margin-bottom: 8px;
  line-height: 32px;
  background-color: #E6E6E6;
  border-left: 2px #29cccc solid;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-results .block,
.side-content .block:hover {
  background-color: #DBDBDB;
}

.search-results a,
.side-content a {
  color: #202020;
}

.search-results a:hover,
.side-content a:hover {
  color: #FF6600;
  text-decoration: none;
}

.search-close {
  pointer-events: auto;
  display: none;
  color: #c0c0c0;
}

.side-content .block div {
  overflow: hidden;
  text-overflow: ellipsis;
}

.side-content .expert {
  border-left: 0px;
}

.side-content .expert p {
  text-align: center;
  background-color: #28D4D4;
}

.side-content a.expert {
  color: #fff;
}

.side-content h2 {
  font-size:30px;
  margin-top:20px;
  margin-bottom:10px;
}

.side-content a:hover.expert p {
  background-color: #FF6600;
}

.result-title {
  font-weight: bold;
  font-size: 1.2em;
}

.footer {
  background-color: #E6E6E6;
  border-top: 5px #29cccc solid;
}

.footer h3 {
  margin-top:20px;
  font-size:24px;
}