html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 24px;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}

*:focus {
  outline-color: #24b3b3;
}

iframe {
  border: 0;
}

a {
  color: #24b3b3;
}

a:hover {
  text-decoration: none;
  color: #FF6600;
}

.header {
  min-height: 160px;
  width: 100%;
  background-size: cover;
  background-position: center;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  font-size: 4em;
  line-height: 160px;
}

.header-content {
  margin: auto;
  line-height: 160px;
  width: 750px;
  color: #fff;
  margin-bottom: 50px;
}

a.block {
  display: block;
  background-color: #28D4D4;
  color: #fff;
  border-radius: 4px;
  width: 256px;
  padding: 16px;
  font-weight: bold;
  line-height: normal;
}

a:hover.block {
  background-color: #FF6600;
  text-decoration: none;
}


/*** Side Content ***/

.side-content .block {
  font-size: 14px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding: 8px 18px;
  margin-bottom: 8px;
  line-height: 32px;
  background-color: #E6E6E6;
  border-left: 2px #29cccc solid;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0;
}

.side-content .block:hover {
  background-color: #DBDBDB;
}

.side-content a {
  color: #202020;
}

.side-content a:hover {
  color: #FF6600;
  text-decoration: none;
}

.search-close {
  pointer-events: auto;
  display: none;
  color: #c0c0c0;
}

.side-content .block div {
  overflow: hidden;
  text-overflow: ellipsis;
}


/* prettyprint styles */

pre.prettyprint {
  background: #fff;
  word-wrap: normal;
  overflow: scroll;
  height: 350px;
  border: 1px solid #F1F1F1;
}

.prettyprint ol.linenums > li {
  list-style-type: decimal;
  border-left: 2px solid #7BE57B;
  padding-left: 8px;
  margin: 0 0 0 40px;
  background-color: #fff;
}


/* Bootstrap Modifications */

.embed-responsive {
  margin-bottom: 8px;
}