.header.tutorial1 {
  background: url("../img/banner_black.png");
}

.header.particle-tutorial1 {
  background: url("../img/particle_banner.png");
}

.header.museum-tutorial {
  background: url("../img/banner_museum.png");
}

.header.animation-tutorial {
  background: url("../img/banner_animation.png");
}